body {
  /* background-color: #fff3d2; */
}


td {
  text-align: center;
  vertical-align: middle;
}

td.gridjs-td {
  background-color: #DDD;
}

td.gridjs-td:hover {
  background-color: #CCC;
}


/* style for first column */
/* td:nth-child(1) {
  background-color: red;
}
td:nth-child(1):hover {
  background-color: red;
} */

/* style for first row */
/* th.gridjs-th {
  background-color: blue;
} */

/* style for first cell */
/* th:nth-child(1) {
  background-color: green;
} */


